* {
   font-family: sans-serif;
}

body {
    min-width: 100vw;
    min-height: 100vw;
    margin: 0;
}

main {
    min-height: 80vh;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
}

a {
    text-decoration: none;
}

.navbar {
    font-weight: bold;
    display: flex;
    gap: 20px;
}

footer {
    text-align: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hero {
    display: flex;
    justify-content: center;
    gap: 10px;
}

img {
    border-radius: 75px;
}

button {
    width: 7rem;
    height: 2rem;
    border-radius: 8px;
    font-size: .85rem;
}


.info {
    margin: 60px auto;
    padding: 40px;
    max-width: 800px;
    width: 90%;
}


@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {
    .hero {
        text-align: center;
    }
}

